<div class="footer">
	<div style="float:right">
		Being Created by: <%= link_to 'The Edkins Group', 'http://www.edkinsgroup.com' %>
	</div>
	<div style="float:left">
		<%= link_to 'Log Into Test', new_member_session_path %>
	</div>
</div>
