<div class="footer">
	<div style="float:right">
		Being Created by: <%= link_to 'The Edkins Group', 'http://www.edkinsgroup.com' %>
	</div>
	<div style="float:left">
		<% unless member_signed_in? %>
			<%= link_to 'Log Into Test', new_member_session_path %>
		<% else %>
			<%= link_to "Sign Out", destroy_member_session_path, :method => :delete %>
		<% end %>
	</div>
</div>
