<div style="text-align:center;margin-top:250px">

	<section id="landing_big">

		<%= link_to image_tag("FullLogo.png"), new_member_session_path %></p>

	</section>
	<section id="landing_small">

		<%= link_to image_tag("FullLogo.png", :size => '400x50'), new_member_session_path %></p>

	</section>

	Coming Soon...

</div>
