@media screen and (min-width: 968px){
	section#mobile_header {
		display: none;
	}
	section#iphone_header {
		display: none;
	}
	section#landing_small {
		display:none
	}
	.mobile_sidebar {
		display: none;
	}
	
}

@media screen and (max-width: 968px){
	#error_explanation {
		clear:both;
	}
	#notice {
		clear:both;
	}
	.topstatement {
		clear:both;
	}
	section#regular_header {
		display: none;
	}
	section#iphone_header {
		display: none;
	}
	section#landing_small {
		display:none
	}
	nav#main_nav {
		li {
	    a, a:link, a:visited {
	      color: gray;
	      font-size: 2em;
	      text-decoration: none;  
    		}
    	}
	}
	.yield {
		width: 99%;
		padding-right:20px;
		min-width:800px;
	}
	.header {
		width: 98%;
		min-width:800px;
	}
	nav#utility {
		display: none;
	}
	.goalform {
	  float:left;  
	  margin:10px;
	  width:47%;
	}
	.topbanner {
		width:97%;
	}
	.sectionsquare {
		width:100%;
	}
	.container {
		width:99%;
		margin-top:140px;
	}
	.box {
		width:48%;
		height:300px;
	}
	.flip-container, .front, .back {
	  height: 300px;
	}
	body {
		font-size:1em;
	}
	.footer {
		font-size:.9em;
	}
}

@media screen and (max-width: 558px){
	.button-link {
		line-height:1.5em;
		padding:5px 15px;
	}
	#error_explanation {
		margin-top:150px;
	}
	#notice {
		margin-top:150px;
	}
	.topstatement {
		position:relative;
	}
	section#regular_header {
		display: none;
	}
	section#mobile_header {
		display:none;
	}
	section#iphone_header {
		display:inline;
	}
	section#landing_big {
		display:none
	}
	section#landing_small {
		display:inline
	}
	.headerright {
		float:left;
		margin-left:-20px;
	}
	nav#main_nav {	
		li {
	    a, a:link, a:visited {
	      color: gray;
	      font-size: 1.2em;
	      text-decoration: none;  
    		}
    	}
	}
	.yield {
		width: 97%;
		padding-right:20px;
		min-width:460px;
	}
	.header {
		width: 97%;
	}
	nav#utility {
		display: none;
	}
	.goalform {
	  float:left;  
	  width:95%;
	}
	.topbanner {
		width:97%;
	}
	.sectionsquare {
		width:100%;
	}
	.container {
		width:98%;
	}
	.box {
		width:97%;
		height:380px;
		font-size:1.8em
	}
	.flip-container, .front, .back {
	  height: 370px;
	}
	body {
		font-size:1em;
	}
	.footer {
		width:97%;
		font-size:.9em
	}
	.inputbox {
		width:100%;
	}
}